<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webviewAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEB51DC41F1E031E003D757D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB51DD81F1E031E003D757D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB51DE31F1E031E003D757D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
